header{
    background-color: rgb(255, 183, 0);
    color: white;
    text-align: center;
}
main{
    background-color: rgba(255, 255, 255, 0.834);
    color: rgb(255, 145, 0);
    text-align: center;
}

.conteiner-card{
    display: flex;
}

img{
    width: 150px;
    height: 100px;
}