header{
    background-color: blue;
    color: white;
    text-align: center;
}
main{
    background-color: white;
    color: blue;
    text-align: center;
}

.conteiner-card{
    display: flex;
}

img{
    width: 150px;
    height: 100px;
}